*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
:root{
    --background:#0e0f0f;
    --text-color:#ff1493;
    --border-text:#eee;
    --hover-color:#000;
    --bold-text:#3e32e4; 
    --output :#00FF66; 
    --first : #E84E42;
}

.main-container{
    width: 100%;
    /* border: 1px solid red; */
    height: 100vh;
    
}

.main-container .card-container{
    display: flex;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 3rem;
    /* border: none; */
    outline: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* container div1 */

.card-container .div1{
    width: 40%;
    
}
.card-container .div1 .div1navBar{
    height: 64px;
    border: none;
}
.card-container .div1 .div1Content{
    text-align: center;
}
.hide{
    display: none;
}

.card-container .div1 .div1Content  .outputHeading{
    opacity: 0.7;
    font-size: medium;
    padding: 0.8rem;
}
#gif{
    padding: 10px;
    max-width: 200px;
    margin: auto;
    display: none;
}

.card-container .div1 .div1Content  .output-container{

    font-weight: bold;
    font-size: larger;
    border: 2px solid var(--background);
    margin-left: .5rem;
    margin-right: .5rem;
    padding-bottom: .4rem;
}
.card-container .div1 .div1Content  .output-container span{

    font-weight: bold;
    font-size: xx-large;
}

/* container for div2 */
.card-container .div2{
    width: 60%;
    background-color: var(--first);
}

.div2 .div2navBar{
    border: 1px solid var(--first);
    margin: 0.4rem;
    padding: 0.2%;

}

.div2 .div2navBar .navItems{
    display: flex;
    justify-content: flex-end;
}

.div2 .div2navBar .navItems > *{
    margin: .4rem;
    padding: .3rem;
    color: var(--border-text);
    font-weight: 400;
}
.div2 .div2navBar .navItems div a {
    text-decoration: none !important;
    color: var(--border-text) !important; 
}


.div2 .div2Content{
    text-align: center;
    color: var(--border-text);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    
}

.div2 .div2Content span{
    color: var(--background);
}
.div2 .div2Content p{
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.div2 .div2Content .secondHeading{
    font-size: large;
}

.div2 .div2Content .input-container  > *{
    cursor: pointer;
}

.div2 .div2Content .input-container{
    margin-top: 1rem;
    outline: none;
}
.div2 .div2Content .input-container button{
    display: block;
    border: 2px solid var(--border-text);
    margin: 1rem auto;
    padding: .3rem .5rem;
    outline: none;
    font-weight: 800;
    font-size: 0.9rem;
    color: var(--background);
    border-color: var(--border-text);
}


/* Text dotted animation */
.blink{
    color: var(--bold-text);
    animation: pop 2s linear infinite;
}
@keyframes pop {
    0%{
        opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
  

.div2 .div2navBar .navItems > *:hover{
    color: var(--hover-color);
    cursor: pointer;    
}

/* for medium screen device */
@media only screen and (max-width: 962px) {
    .main-container{
        /* border: 1px solid red; */
        height: 100vh;
        
    }
    .main-container .card-container{
        flex-direction: column-reverse;
        height: auto;
    } 

    /* nav items */ 
    .div2 .div2navBar{
        margin: 0.1rem;
        /* padding: 0.1%; */
    
    } 
    .div2 .div2navBar .navItems > *{
        margin: .2rem;
        padding: .2rem;
        color: var(--border-text);
        font-weight: 500;
    }

    /* two divs */
    /* second date Div */
    .card-container .div2{
         width: auto;
         height: auto;
         font-size: 14px;
    }
    .div2 .div2Content p{
        width: 90%;
        margin-top: 0.1rem;
        margin-bottom: 0.2rem;
    }
    
    .div2 .div2Content .secondHeading{
        font-size: 1.3rem;
        font-stretch: expanded; 
    }



    /* first output div */
    .card-container .div1{
        width: 100%;
        height: 100%;
        font-size: 14px;
        margin-bottom: 1.8rem;
    }
    .card-container .div1 .div1navBar{
        height: 10px;
    }

    /* hide & inhide text  in div1*/
    .tobeHide{
        /* z-index: 0; */
        display: none;
    }
    .hide{
        display: block;
    }

}

/* for small screen device */
@media only screen and (max-width: 400px) {
    .main-container .card-container{
        display: flex;
        width: 100%;
        height: auto;
        margin: auto;
        outline: none;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
}